* {
  box-sizing: border-box;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

em, address {
  font-style: normal;
}

ol, ul {
  padding-left: 0px;
  list-style-type: none;
}

i, p {
  width: fit-content;
  height: fit-content;
}

.interactive-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  margin: 5%;
  padding: 5px 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 2px 2px 5px 2px #d5d5d5;
  border: none;
  border-radius: 40px;
  color: white;
  white-space: nowrap;
}
.interactive-button:hover {
  box-shadow: 2px 2px 5px 2px #bcbcbc;
  opacity: 0.75;
}
.interactive-button--padding {
  padding: 5px 50px;
}

.saving-item {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.saving-item > div:nth-child(2n+1) {
  position: relative;
  z-index: 2;
  opacity: 1;
  cursor: pointer;
}
.saving-item > div:nth-child(2n+1):hover {
  opacity: 0;
}
.saving-item > div:nth-child(2n+1):hover + div {
  animation: fill 0.4s linear forwards;
}
.saving-item > div:nth-child(2n) {
  position: absolute;
  top: 0px;
  z-index: 1;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
  }
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0%;
  padding-top: 2%;
}
.top__image {
  width: fit-content;
  padding-top: 2%;
}
.top__image img {
  object-fit: cover;
}

.bottom {
  padding: 2% 0% 0% 6%;
  background-color: #282828;
}
@media screen and (min-width: 768px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
  }
}
.bottom__title {
  font-size: 16px;
  font-family: "Shrikhand", cursive;
  color: white;
}
@media screen and (min-width: 768px) {
  .bottom__title {
    width: fit-content;
    font-size: 18px;
  }
}
.bottom__information {
  margin-bottom: 6%;
}
@media screen and (min-width: 768px) {
  .bottom__information {
    display: flex;
    justify-content: space-evenly;
  }
}
.bottom__information li {
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .bottom__information li {
    width: fit-content;
    font-size: 18px;
  }
}
.bottom__information a {
  display: flex;
  color: white;
}
@media screen and (min-width: 768px) {
  .bottom__information a {
    white-space: nowrap;
  }
}
.bottom__information span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 10px;
}

.loading-spinner-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  transform: scale(0);
  animation: pause 3s;
  z-index: 1;
  background-color: #F4F4F4;
}
.loading-spinner-1::before {
  content: "ohmyfood";
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 4;
  font-family: "Shrikhand", cursive;
  color: black;
  opacity: 0;
  animation: down 0.7s ease-in-out forwards;
}
.loading-spinner-1::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 0px;
  top: 300px;
  z-index: 3;
  box-sizing: content-box;
  width: 125px;
  height: 125px;
  border-radius: 125px;
  background-color: #99E2D0;
  opacity: 0;
  animation: show 1s 0.7s ease-out forwards;
}

.loading-spinner-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  transform: scale(0);
  animation: pause 3s;
  z-index: 2;
  background-color: transparent;
}
.loading-spinner-2::before {
  content: "";
  display: inline-block;
  position: relative;
  left: 0px;
  top: 315px;
  z-index: 1;
  box-sizing: content-box;
  width: 125px;
  height: 125px;
  border: 3px solid #F4F4F4;
  border-top: 3px solid #FF79DA;
  border-radius: 125px;
  transform-origin: center;
  transform: rotate(0deg);
  opacity: 0;
  animation: load 0.5s 2s ease-in-out forwards infinite;
}
.loading-spinner-2::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 0px;
  top: 184px;
  z-index: 2;
  width: 125px;
  height: 125px;
  border: 3px solid #F4F4F4;
  border-top: 3px solid #9356DC;
  border-radius: 125px;
  transform-origin: center;
  transform: rotate(0deg);
  opacity: 0;
  animation: spin 0.5s 2s ease-in-out forwards infinite;
}

@keyframes pause {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes down {
  0% {
    opacity: 1;
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
  }
  25% {
    opacity: 1;
    transform: translateY(370px);
  }
  50% {
    opacity: 1;
    transform: translateY(360px);
  }
  60% {
    opacity: 1;
    transform: translateY(370px);
  }
  80% {
    opacity: 1;
    transform: translateY(365px);
  }
  100% {
    opacity: 1;
    transform: translateY(370px);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
  }
}
@keyframes load {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: rotate(-45deg);
  }
  50% {
    opacity: 1;
    transform: rotate(-90deg);
  }
  75% {
    opacity: 1;
    transform: rotate(-135deg);
  }
  90% {
    opacity: 1;
    transform: rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  50% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  75% {
    opacity: 0.5;
    transform: rotate(-135deg);
  }
  90% {
    opacity: 0.8;
    transform: rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  animation: index 0s 3s both;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .presentation {
    flex-direction: row;
    align-items: flex-end;
    background: linear-gradient(180deg, #bebebe 1px, #d5d5d5 5px, #e5e5e5);
  }
}

.searching-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searching-part__result {
  background: linear-gradient(180deg, #bebebe 1px, #d5d5d5 5px, #e5e5e5);
  text-align: center;
}
@media screen and (min-width: 992px) {
  .searching-part__result {
    position: relative;
    left: 50%;
    background: none;
    font-size: 18px;
  }
}
.searching-part__result i, .searching-part__result p {
  display: inline-block;
  margin: 3% 1%;
}
.searching-part__introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 8%;
  background: #F4F4F4;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .searching-part__introduction {
    height: 307px;
    padding-top: 2%;
  }
}
.searching-part__introduction h1 {
  width: 62%;
  margin: 2%;
  font-size: 22px;
}
.searching-part__introduction p {
  width: 81%;
  margin: 2%;
  font-weight: 100;
  font-size: 18px;
}

.legend {
  width: 90%;
  padding: 8% 0%;
}
@media screen and (min-width: 992px) {
  .legend {
    padding: 0%;
  }
}
.legend__title {
  font-size: 22px;
}
@media screen and (min-width: 992px) {
  .legend__title {
    opacity: 0;
  }
}
.legend__list {
  padding-top: 1px;
}
@media screen and (min-width: 992px) {
  .legend__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 307px;
    margin: 0px;
    background-color: white;
  }
}
.legend__list li {
  background-color: #F4F4F4;
  height: 80px;
  margin: 25px 0px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px 1px #d5d5d5;
}
@media screen and (min-width: 992px) {
  .legend__list li {
    width: 90%;
    margin: 13px 0px;
  }
}
.legend__list li:active {
  background-color: #f4eafe;
}
.legend__list li:active i {
  color: #9356DC;
}
.legend__list em {
  display: inline-block;
  position: relative;
  right: 12px;
  top: 30px;
  width: 25px;
  height: 25px;
  padding-top: 4px;
  border-radius: 25px;
  background-color: #9356DC;
  text-align: center;
  color: white;
}
@media screen and (min-width: 992px) {
  .legend__list em {
    top: 25px;
  }
}
.legend__list i {
  position: relative;
  left: 4%;
  top: 30px;
  color: #5b5b5b;
}
@media screen and (min-width: 992px) {
  .legend__list i {
    top: 25px;
  }
}
.legend__list span {
  position: relative;
  left: 10%;
  top: 30px;
}
@media screen and (min-width: 992px) {
  .legend__list span {
    top: 25px;
  }
}

.primary-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #F4F4F4;
}
@media screen and (min-width: 768px) {
  .primary-cards {
    background-color: white;
  }
}
.primary-cards__title {
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .primary-cards__title {
    align-self: center;
    width: fit-content;
    margin-bottom: 50px;
  }
}
.primary-cards__contenair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .primary-cards__contenair {
    flex-flow: row wrap;
  }
}
.primary-cards__card {
  height: 320px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 8px 2px #e5e5e5;
}
@media screen and (min-width: 768px) {
  .primary-cards__card {
    width: 40%;
    margin: 0% 3% 30px 3%;
    background-color: #F4F4F4;
  }
}
.primary-cards__image {
  position: relative;
  height: 70%;
}
.primary-cards__image img {
  object-fit: cover;
  height: 225px;
  border-radius: 20px 20px 0px 0px;
}
.primary-cards__image--content::after {
  content: "Nouveau";
  position: absolute;
  left: 72%;
  top: 5%;
  z-index: 1;
  padding: 1% 2%;
  background-color: #99E2D0;
  color: #278870;
}
.primary-cards__content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.primary-cards__content h3 {
  margin: 0px 0px 0px 15px;
}
.primary-cards__content p {
  margin: 5px 0px 20px 15px;
  font-weight: 100;
}
.primary-cards__saving-item {
  left: 28%;
  bottom: 100px;
}
@media screen and (min-width: 768px) {
  .primary-cards__saving-item {
    position: absolute;
    bottom: 0px;
  }
  .primary-cards__saving-item-1 {
    left: 39%;
    top: 255px;
  }
  .primary-cards__saving-item-2 {
    left: 85%;
    top: 255px;
  }
  .primary-cards__saving-item-3 {
    left: 39%;
    top: 605px;
  }
  .primary-cards__saving-item-4 {
    left: 85%;
    top: 605px;
  }
}
.primary-cards__saving-item::after {
  position: absolute;
}

@keyframes index {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.top__link {
  position: absolute;
  left: 5%;
  width: fit-content;
}

.secondary-cards {
  background-color: #F4F4F4;
}
@media screen and (min-width: 992px) {
  .secondary-cards {
    background-color: white;
  }
}
@media screen and (min-width: 992px) {
  .secondary-cards__image {
    padding: 0% 5%;
  }
}
.secondary-cards__image img {
  object-fit: cover;
  height: 350px;
}
.secondary-cards__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 60px;
  padding: 0% 5%;
  border-radius: 50px 50px 0px 0px;
  background-color: #F4F4F4;
}
@media screen and (min-width: 992px) {
  .secondary-cards__content {
    border-radius: 0px;
    background-color: white;
  }
}
.secondary-cards__title {
  display: flex;
  padding-top: 8%;
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  .secondary-cards__title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.secondary-cards__title h1 {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .secondary-cards__title h1 {
    width: fit-content;
  }
}
.secondary-cards__title svg {
  position: relative;
}
.secondary-cards__contenair {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondary-cards__contenair article:nth-child(1) {
  animation: display-y 0.5s 0.3s ease-in both;
}
.secondary-cards__contenair article:nth-child(2) {
  animation: display-y 0.5s 0.6s ease-in both;
}
.secondary-cards__contenair article:nth-child(3) {
  animation: display-y 0.5s 0.9s ease-in both;
}
@media screen and (min-width: 768px) {
  .secondary-cards__contenair {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 33px;
  }
  .secondary-cards__contenair article:nth-child(1) {
    animation: display-x 0.5s 0.3s ease-in both;
  }
  .secondary-cards__contenair article:nth-child(2) {
    animation: display-x 0.5s 0.6s ease-in both;
  }
  .secondary-cards__contenair article:nth-child(3) {
    animation: display-x 0.5s 0.9s ease-in both;
  }
}
.secondary-cards__card {
  margin: 2% 0%;
}
@media screen and (min-width: 768px) {
  .secondary-cards__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
}
.secondary-cards__card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 80px;
  margin: 25px 0px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px 1px #d5d5d5;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .secondary-cards__card li {
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    height: 200px;
    padding: 10px;
  }
}
@media screen and (min-width: 992px) {
  .secondary-cards__card li {
    background-color: #F4F4F4;
  }
}
.secondary-cards__card li::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 70px;
  height: 100%;
  background-color: #99E2D0;
  transform: translateX(70px);
  transition: transform 350ms;
}
@media screen and (min-width: 768px) {
  .secondary-cards__card li::after {
    bottom: 0px;
    width: 100%;
    height: 35px;
    transform: translate(0px, 40px);
    transition: transform 350ms;
  }
}
.secondary-cards__card li:hover::after {
  transform: translateX(0px);
}
@media screen and (min-width: 768px) {
  .secondary-cards__card li:hover::after {
    transform: translate(0px, 0px);
  }
}
.secondary-cards__card li:hover div {
  width: 53%;
}
@media screen and (min-width: 768px) {
  .secondary-cards__card li:hover div {
    width: auto;
  }
}
.secondary-cards__card li:hover > p {
  transform: translateX(-100px);
}
@media screen and (min-width: 768px) {
  .secondary-cards__card li:hover > p {
    transform: translate(0px, -10px);
  }
}
.secondary-cards__card li i {
  position: absolute;
  right: 0px;
  z-index: 1;
  color: white;
  transform: translateX(20px) rotate(0turn);
  transition: transform 350ms;
}
@media screen and (min-width: 768px) {
  .secondary-cards__card li i {
    position: absolute;
    right: 47%;
    bottom: 0px;
    margin-bottom: 10px;
    transform: translateY(35px) rotate(0turn);
    transition: transform 350ms;
  }
}
.secondary-cards__card li:hover i {
  transform: translateX(-28px) rotate(1turn);
}
@media screen and (min-width: 768px) {
  .secondary-cards__card li:hover i {
    transform: translateY(0px) rotate(1turn);
  }
}
.secondary-cards__topic {
  font-weight: 100;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .secondary-cards__topic {
    width: fit-content;
    border-bottom: medium solid #99E2D0;
    text-align: center;
  }
}
.secondary-cards__topic span {
  border-bottom: medium solid #99E2D0;
}
@media screen and (min-width: 768px) {
  .secondary-cards__topic span {
    border-bottom: none;
  }
}
.secondary-cards__subtitle {
  width: 70%;
  margin: 15px 0px 15px 15px;
  transition: width 350ms;
}
@media screen and (min-width: 768px) {
  .secondary-cards__subtitle {
    width: auto;
    margin: 0px;
  }
}
.secondary-cards__subtitle h3 {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .secondary-cards__subtitle h3 {
    text-align: center;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
  }
}
.secondary-cards__subtitle p {
  width: 100%;
  margin: 0px;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .secondary-cards__subtitle p {
    width: auto;
    text-align: center;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
  }
}
.secondary-cards__mark {
  align-self: flex-end;
  transform: translateX(-40px);
  transition: transform 350ms;
}
@media screen and (min-width: 768px) {
  .secondary-cards__mark {
    align-self: center;
    transform: translate(0px, 0px);
  }
}

@keyframes display-y {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes display-x {
  0% {
    opacity: 0;
    transform: translateX(3px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=style.css.map */
