/* BASE */
* {
  box-sizing: border-box;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: default;
}

em {
  font-style: normal;
}

ol, ul {
  padding-left: 0px;
  list-style-type: none;
}

/* LAYOUT */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0%;
  padding-top: 2%;
}
.top__image {
  width: auto;
  padding-top: 2%;
}
.top__image img {
  object-fit: cover;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .presentation {
    flex-direction: row;
    align-items: flex-end;
    background: linear-gradient(180deg, #bebebe 1px, #d5d5d5 5px, #e5e5e5);
  }
}

.searching-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searching-part__result {
  background: linear-gradient(180deg, #bebebe 1px, #d5d5d5 5px, #e5e5e5);
  text-align: center;
}
@media screen and (min-width: 992px) {
  .searching-part__result {
    position: relative;
    left: 50%;
    background: none;
    font-size: 18px;
  }
}
.searching-part__result i, .searching-part__result p {
  display: inline-block;
  width: auto;
  margin: 3% 1%;
}
.searching-part__introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  background: #F4F4F4;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .searching-part__introduction {
    height: 307px;
    padding-top: 2%;
  }
}
.searching-part__introduction h1 {
  width: 62%;
  margin: 2%;
  font-size: 22px;
}
.searching-part__introduction p {
  width: 81%;
  margin: 2%;
  font-weight: 100;
  font-size: 18px;
}

.legend {
  width: 90%;
  padding: 8% 0%;
}
@media screen and (min-width: 992px) {
  .legend {
    padding: 0%;
  }
}
.legend__title {
  font-size: 22px;
}
@media screen and (min-width: 992px) {
  .legend__title {
    opacity: 0;
  }
}
.legend__list {
  padding-top: 1px;
}
@media screen and (min-width: 992px) {
  .legend__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 307px;
    margin: 0px;
    background-color: white;
  }
}
.legend__list li {
  height: 80px;
  margin: 25px 0px;
  background-color: #F4F4F4;
  border-radius: 30px;
  box-shadow: 1px 1px 13px 5px #d5d5d5;
}
@media screen and (min-width: 992px) {
  .legend__list li {
    width: 90%;
    margin: 13px 0px;
  }
}
.legend__list li:active {
  background-color: #f4eafe;
}
.legend__list li:active i {
  color: #9356DC;
}
.legend__list em {
  display: inline-block;
  position: relative;
  right: 12px;
  top: 30px;
  width: 25px;
  height: 25px;
  padding-top: 4px;
  border-radius: 25px;
  background-color: #9356DC;
  text-align: center;
  color: white;
}
@media screen and (min-width: 992px) {
  .legend__list em {
    top: 27px;
  }
}
.legend__list i {
  position: relative;
  left: 7%;
  top: 10px;
  color: #5b5b5b;
}
@media screen and (min-width: 992px) {
  .legend__list i {
    top: 6px;
  }
}
.legend__list span {
  position: relative;
  left: 15%;
  bottom: 8px;
}
@media screen and (min-width: 992px) {
  .legend__list span {
    bottom: 13px;
  }
}

.primary-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #F4F4F4;
}
.primary-cards__title {
  font-size: 22px;
}
.primary-cards__card {
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 8px 2px #e5e5e5;
}
.primary-cards__image {
  position: relative;
  height: 70%;
}
.primary-cards__image img {
  object-fit: cover;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
}
.primary-cards__image--content::after {
  content: "Nouveau";
  position: absolute;
  top: 5%;
  left: 70%;
  z-index: 1;
  padding: 1% 2%;
  background-color: #99E2D0;
  color: #278870;
}
.primary-cards__content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.primary-cards__content h3 {
  margin: 0px 0px 0px 15px;
}
.primary-cards__content p {
  margin: 5px 0px 20px 15px;
}

/* COMPONENTS */
.interactive-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  margin: 5%;
  padding: 3%;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  box-shadow: 2px 2px 5px 2px #d5d5d5;
  border: none;
  border-radius: 40px;
  color: white;
  white-space: nowrap;
}
.interactive-button:hover {
  opacity: 0.75;
  box-shadow: 2px 2px 5px 2px #bcbcbc;
}

.saving-item {
  position: relative;
  left: 65%;
  bottom: 100px;
}

/* PAGES */
.top__link {
  position: absolute;
  left: 5%;
  width: auto;
}

@media screen and (min-width: 992px) {
  .secondary-cards__image {
    padding: 0px 200px;
  }
}
.secondary-cards__image img {
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
