$color: #F4F4F4 #9356DC #FF79DA #99E2D0;
$background: nth($color, 1);
$primary-dark-background: darken(adjust-hue($background, 120deg), 21%);
$secondary-dark-background: darken($background, 12%);
$third-dark-background: darken($background, 6%);
$saturate-color: adjust-hue(saturate($background, 92%), 270deg);
$text-new: darken(nth($color, 4), 40%);
$corner-shape: 40px;
$title-size: 22px; 
$breakpoints: (desktop: 992px, tablet: 768px);