.top__link {
    position: absolute;
    left: 5%;
    width: auto;
}

.secondary-cards {
    &__image {
        @include media(desktop) {
            padding: 0px 200px;
        }
        img {
            object-fit: cover;
        }
    }
}