.bottom {
    padding: 2% 0% 0% 6%;
    background-color: #282828;
    @include media(tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
    }
    &__title {
        font-size: $title-size - 6px;
        font-family: "Shrikhand", cursive;
        color: white;
        @include media(tablet) {
            width: fit-content;
            font-size: $title-size - 4px;
        }
    }

    &__information {
        margin-bottom: 6%;
        @include media(tablet) {
            display: flex;
            justify-content: space-evenly;
        }
        li {
            line-height: 1.5;
            @include media(tablet) {
                width: fit-content;
                font-size: $title-size - 4px;
            }
        }

        a {
            display: flex;
            color: white;
            @include media(tablet) {
                white-space: nowrap;
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin-right: 10px;
        }
    }
}