.searching-part {
    display: flex;
    flex-direction: column;
    align-items: center;  
    &__result {
        background: linear-gradient(180deg, $primary-dark-background 1px, $secondary-dark-background 5px, $third-dark-background);
        text-align: center;
        @include media(desktop) {
            position: relative;
            left: 50%;
            background: none;
            font-size: $title-size - 4px;
        }
        i, p {
            @include location-layout;
        }
    }
    &__introduction {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8%;
        background: $background;
        text-align: center;
        @include media(desktop) {
            height: 307px;
            padding-top: 2%;
        }
        h1 {
            width: 62%;
            margin: 2%;
            font-size: $title-size;
        }
        
        p {
            width: 81%;
            margin: 2%;
            font-weight: 100;
            font-size: $title-size - 4px;
        }
    }
}