.legend {
    width: 90%;
    padding: 8% 0%;
    @include media(desktop) {
        padding: 0%;
    }
    &__title {
        font-size: $title-size;
        @include media(desktop) {
            opacity: 0;
        }   
    }

    &__list {
        padding-top: 1px;
        @include media(desktop) {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 307px;
            margin: 0px;
            background-color: white;
        }   
        li {
            height: 80px;
            background-color: $background;
            @include list-block;
            @include media(desktop) {
                width: 90%;
                margin: 13px 0px;
            }
            &:active {
                background-color: $saturate-color;
                i {
                    color: #9356DC;
                }
            }    
        }

        em {
            display: inline-block;
            position: relative;
            right: 12px;
            top: 30px;
            width: 25px;
            height: 25px;
            padding-top: 4px;
            border-radius: 25px;
            background-color: #9356DC;
            text-align: center;
            color: white;
            @include media(desktop) {
                top: 25px;
            }          
        }

        i {
            position: relative;
            left: 4%;
            top: 30px;
            color: darken($background, 60%);
            @include media(desktop) {
                top: 25px;
            }
        }

        span {
            position: relative;
            left: 10%;
            top: 30px;
            @include media(desktop) {
                top: 25px;
            }
        }
    }
}    