.saving-item {
    position: relative;
    width: fit-content;
    height: fit-content;
    svg {
        position: absolute;
        width: 35px;
        height: 35px;
        z-index: 2;
    }

    &:active svg {
        z-index: 1;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: linear-gradient(0deg, #e66465, #9198e5);
        clip-path: path("M 10 10 A 5 5 0 0 1 20 10 A 5 5 0 0 1 30 10 Q 32 16 20 25 Q 10 18 10 10 Z");
        opacity: 0;
        z-index: 1;
    }

    &:active::after {
        z-index: 2;
        animation: fill 0.5s forwards;
    }
}

@keyframes fill {
    0% {
      opacity: 0;
    }
  
    25% {
      opacity: 0.4;
    }
  
    75% {
      opacity: 0.8;
    }
  
    100% {
      opacity: 1;
    }
}