@use "../utils/variables" as var;

@use "../utils/mixins" as mix;

.saving-item {
    position: relative;
    width: fit-content;
    height: fit-content;   
    button {
        position: absolute;
        z-index: 2;
        width: 24px;
        height: 22px;
        background-image: linear-gradient(0deg, nth(var.$color, 3), nth(var.$color, 2));
        clip-path: path("M 2 7 A 5 5 0 0 1 12 7 A 5 5 0 0 1 22 7 Q 22 14 12 20 Q 2 14 2 7 Z");
        opacity: 0;
        cursor: pointer;
        &:active {
            animation: fill 0.4s linear forwards;
            @include mix.media(desktop) {
                animation: none;
            }
            + svg {
                opacity: 0;
                @include mix.media(desktop) {
                    opacity: 1;
                }
            }
        }
    
        &:hover {
            @include mix.media(desktop) {
                animation: fill 0.6s linear forwards;
            }
            + svg {
                @include mix.media(desktop) {
                    opacity: 0;
                }
            }
        }
    }

    svg {
        position: absolute;
        z-index: 1;
        width: 24px;
        height: 22px;
        opacity: 1;
        cursor: pointer;
    }
}

@keyframes fill {
    0% {
        opacity: 0;
    }
  
    25% {
        opacity: 0.2;
    }
  
    75% {
        opacity: 0.5;
        animation-timing-function: ease-out;
    }
  
    100% {
        opacity: 1;
    }
}